services:
  backend:
    build: ./back-end
    ports:
      - "5252:5252"
    networks:
      - mynetwork

  frontend:
    build: ./front-end
    ports:
      - "9000:9000"
    networks:
      - mynetwork

networks:
  mynetwork:
